* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* ===== HEADER ========== */
header, 
footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

header > div {
    width: 920px;
    margin: 0 auto;
    padding-bottom: 5px;
}

header #logo,
header h1 {
    color: #F9FAF8;
}

nav ul,
button,
footer {
    color: #E5E7EB;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#logo {
    font-size: 24px;
}

nav ul {
    font-size: 18px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 5px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

header h1 {
    font-size: 48px;
    font-weight: bolder;
}

.main-img {
    width: 800px;
    height: 250px;
    background-color: #616979;
    margin: 0 0 0 10px;
    padding: 100px 100px;
}

button {
    border-radius: 10px;
    padding: 10px 40px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.bottom-header button {
    border: 1px solid #3882F6;
}
/* ===== END HEADER ===== */

/* ===== MAIN ========== */
section.info, 
section.quote, 
section.cta {
    padding: 20px;
}

section.info, 
section.quote {
    color: #1F2937;
}

/* === Section 1 - Info === */
.info h2 {
    font-size: 36px;
    font-weight: bolder;
}

.info h2 {
    text-align: center;
    margin-top: 50px;
}

.info > div {
    width: 800px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.card .illustration {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 10%;
}

.card > p {
    width: 160px;
    margin: 5px 30px 5px 0px;
    text-align: center;
}

/* === Section 2 - Quote === */
.quote {
    background-color: #E5E7EB; 
}

.quote figure {
    width: 790px;
    margin: 50px auto;
}

.quote blockquote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote figcaption{
    font-weight: bold;
    text-align: end;
    font-size: 18px;
}

/* === Section 3 - CTA === */
section.cta {
    padding: 20px;
}

section.cta > div, 
button {
    background-color: #3882F6;
}

section.cta > div, 
section.cta button {
    color: #E5E7EB;
}

section.cta > div {
    padding: 20px 40px;
    border-radius: 10px;
}

.cta button {
    border: 1px solid #F9FAF8;
}

/* ===== FOOTER ========== */
footer {
    padding: 20px;
    text-align: center;
}